body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin: 5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 2%;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 8px solid black;
  border-radius: 15%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 15px white;
  background-color: grey;
}

#S_con {
  display: flex;
  justify-content: center;
}

#Start {
  width: 90px;
  height: 50px;
  font-size: 30 px;
  background-color: #e9e5d6;
  margin: 0px 0px;
  padding: 0px 0px;
  text-align: center;
  border-radius: 20px;
}

@media (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .container {
    width: 80%;
  }

  .btn {
    height: 170px;
    width: 170px;
    border: 5px solid black;
  }

  #Start {
    font-size: 30px;
  }
}
